

<% @list.categories.each do |c| %>
  <div class="category">
  	<h1>tsestestsetsqsuy</h1>
    <h2><a href="/category/<%= c.slug.blank? ? c.id : c.slug %>"><%= c.name %></a></h2>
	 <a href="<%#= c.relative_url %>"><%#= c.first_name %></a> <span name='<%#= c.first_name %>'></span><br/>
      <div class="categories">
      <% if c.displayable_topics.present? %>
        <% c.displayable_topics.each do |t| %>
          <a href="<%#= t.relative_url %>"><%= t.first_name %></a> <span name='<%= t 'first_name' %>'></span><br/>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<p><%= t 'powered_by_html' %></p>
