<div class="topic-list">
<% @list.topics.each do |t| %>
<a href="<%= t.relative_url %>"><%= t.title %></a> <span title='<%= t 'posts' %>'>(<%= t.posts_count %>)</span><br/>
<% end %>
</div>

<% if @list.topics.length > 0 %>
<p><a href="<%= @list.more_topics_url.sub('.json?','?') %>"><%= t 'next_page'%></a></p>
<% end %>

<p><%= t 'powered_by_html' %></p>

<% if @category %>
  <% form_tag complete_tasks_path, :method => :put do %>
    <ul>
    <% for labels in @categories %>
      <li>
        <%= check_box_tag "labels_ids[]", label.id %>
        <%= label.name %>
      </li>
    <% end %>
    </ul>
    <%= submit_tag "Item Selected" %>
  <% end %>


<% end %>
